body{
    background-color: #444444;
}

#photo1{
    width: 500px;
    padding-bottom :5px ;
    padding-top :5px;
    padding-right :5px;
    padding-left :5px ;
    display:inline;
    
}
#photo2{
    width:500px;
    width: 500px;
    padding-bottom :5px ;
    padding-top :5px;
    padding-right :5px;
    border-left :5px ;
    display:inline;
}
#photo3{
    width:500px;
    padding-bottom: 5px ;
    padding-top :5px;
    padding-right :5px;
    padding-left :5px ;
}
